/*Row alignment for product*/
.row {
  padding: 4rem 0;
  margin-left: 5%;
}

/*Size of images in cards*/
.size {
  width: 300px;
  height: 300px;
}

/*Price of product*/
.price {
  font-size: large;
}
